{
  "openapi": "3.0.1",
  "info": {
    "title": "Singapore Weekly Weather Forecast API",
    "version": "1.0.0",
    "description": "Returns a 7-day weather forecast for Singapore using WeatherAPI."
  },
  "servers": [
    {
      "url": "https://api.weatherapi.com/v1",
      "description": "WeatherAPI production server"
    }
  ],
  "paths": {
    "/forecast.json": {
      "get": {
        "summary": "Get 7-day weather forecast for Singapore",
        "operationId": "getSingaporeWeeklyForecast",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Singapore"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 7,
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "aqi",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "no"
            }
          },
          {
            "name": "alerts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful forecast response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    },
    "schemas": {
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "location": { "type": "object" },
          "current": { "type": "object" },
          "forecast": { "type": "object" }
        }
      }
    }
  }
}
